MONGO_URI=mongodb://<HOSTNAME>:<PORT>/
MONGO_DATABASE=<DATABASE_NAME>
MONGO_COLLECTION=<COLLECTION_NAME>
REDIS_URI=redis://<USERNAME>:<PASSWORD>@<HOSTNAME>:<PORT>/0?protocol=3
MYSQL_URI=<USERNAME>:<PASSWORD>@tcp(<HOSTNAME>:<PORT>)/<DATABASE_NAME>
